<h1 class="title">{{site.contact_title}}</h1>
<p class="subtitle">{{site.contact_description}}</p>

<div class="contact-icons">
  {% if site.email != null %}
  <a class="social-link" aria-label="My E-Mail" href="mailto:{{site.email}}">
    <div class="social">
      <svg class="social-svg" viewBox="0 0 48 48">
        <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" xlink:href="{{ "/assets/img/solid.svg#envelope" | prepend: site.baseurl }}"></use>
      </svg>
    </div>
  </a>
  {% endif %}

  {% if site.linkedin_username != null %}
  <a class="social-link black" aria-label="My Linkedin Account" target="_blank" rel="noreferrer"
    href="https://www.linkedin.com/in/{{site.linkedin_username}}">
    <div class="social">
      <svg class="social-svg" viewBox="0 0 48 48">
        <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" xlink:href="{{ "/assets/img/brands.svg#linkedin-in" | prepend: site.baseurl }}"></use>
      </svg>
    </div>
  </a>
  {% endif %}
  
  {% if site.github_username != null %}
  <a class="social-link" aria-label="My GitHub" target="_blank" rel="noreferrer"
    href="https://github.com/{{site.github_username}}">
    <div class="social">
      <svg class="social-svg" viewBox="0 0 48 48">
        <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" xlink:href="{{ "/assets/img/brands.svg#github" | prepend: site.baseurl }}"></use>
      </svg>
    </div>
  </a>
  {% endif %}  

  {% if site.kaggle_username  != null %}
  <a class="social-link black" aria-label="My Kaggle Account" target="_blank" rel="noreferrer"
    href="https://www.kaggle.com/{{site.kaggle_username}}">
    <div class="social">
      <svg class="social-svg" viewBox="0 0 48 48">
        <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" xlink:href="{{ "/assets/img/brands.svg#kaggle" | prepend: site.baseurl }}"></use>
      </svg>
    </div>
  </a>
  {% endif %}

  {% if site.hackerrank_username != null %}
  <a class="social-link hackerrank" aria-label="My Hackerrank Account" target="_blank" rel="noreferrer"
    href="https://hackerrank.com/{{site.hackerrank_username}}">
    <div class="social">
      <svg class="social-svg" viewBox="0 0 48 48">
        <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" xlink:href="{{ "/assets/img/brands.svg#hackerrank" | prepend: site.baseurl }}"></use>
      </svg>
    </div>
  </a>
  {% endif %}

  {% if site.researchgate_username != null %}
  <a class="social-link researchgate" aria-label="My Researchgate Page" target="_blank" rel="noreferrer"
    href="https://researchgate.net/profile/{{site.researchgate_username}}">
    <div class="social">
      <svg class="social-svg" viewBox="0 0 48 48">
        <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" xlink:href="{{ "/assets/img/brands.svg#researchgate" | prepend: site.baseurl }}"></use>
      </svg>
    </div>
  </a>
  {% endif %}

  {% if site.academia_username != null %}
  <a class="social-link academia" aria-label="My Academia Page" target="_blank" rel="noreferrer"
    href="https://sakarya.academia.edu/{{site.academia_username}}">
    <div class="social">
      <svg class="social-svg" viewBox="0 0 48 48">
        <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" xlink:href="{{ "/assets/img/solid.svg#book-open" | prepend: site.baseurl }}"></use>
      </svg>
    </div>
  </a>
  {% endif %}

  {% if site.medium_username != null %}
  <a class="social-link medium" aria-label="My Medium Account" target="_blank" rel="noreferrer"
    href="https://marinetraffic.com/@{{site.marinetraffic_username}}
     <div class="social">
      <svg class="social-svg" viewBox="0 0 48 48">
        <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" xlink:href="{{ "/assets/img/brands.svg#medium" | prepend: site.baseurl }}"></use>
      </svg>
    </div>
  </a>
  {% endif %}

  {% if site.youtube_username != null %}
  <a class="social-link youtube" aria-label="My Youtube Channel" target="_blank" rel="noreferrer"
    href="https://youtube.com/{{site.youtube_username}}">
    <div class="social">
      <svg class="social-svg" viewBox="0 0 48 48">
        <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" xlink:href="{{ "/assets/img/brands.svg#youtube" | prepend: site.baseurl }}"></use>
      </svg>
    </div>
  </a>
  {% endif %}

  {% if site.twitter_username != null %}
  <a class="social-link twitter" aria-label="My Twitter" target="_blank" rel="noreferrer"
    href="https://twitter.com/{{site.twitter_username}}">
    <div class="social">
      <svg class="social-svg" viewBox="0 0 48 48">
        <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" xlink:href="{{ "/assets/img/brands.svg#twitter" | prepend: site.baseurl }}"></use>
      </svg>
    </div>
  </a>
  {% endif %}

  {% if site.instagram_username != null %}
  <a class="social-link black" aria-label="My DEV" target="_blank" rel="noreferrer"
    href="https://instagram.com/{{site.instagram_username}}">
    <div class="social">
      <svg class="social-svg" viewBox="0 0 48 48">
        <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" xlink:href="{{ "/assets/img/brands.svg#instagram" | prepend: site.baseurl }}"></use>
      </svg>
    </div>
  </a>
  {% endif %}

  {% if site.facebook_username != null %}
  <a class="social-link facebook" aria-label="My Facebook" target="_blank" rel="noreferrer"
    href="https://facebook.com/{{site.facebook_username}}">
    <div class="social">
      <svg class="social-svg" viewBox="0 0 48 48">
        <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" xlink:href="{{ "/assets/img/brands.svg#facebook" | prepend: site.baseurl }}"></use>
      </svg>
    </div>
  </a>
  {% endif %}
                                                                                                                                                  
  {% if site.soundcloud_username != null %}
  <a class="social-link soundcloud" aria-label="My Soundcloud" target="_blank" rel="noreferrer"
    href="https://facebook.com/{{site.soundcloud_username}}">
    <div class="social">
      <svg class="social-svg" viewBox="0 0 48 48">
        <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" xlink:href="{{ "/assets/img/brands.svg#soundcloud" | prepend: site.baseurl }}"></use>
      </svg>
    </div>
  </a>
  {% endif %}

  {% if site.kitco_username != null %}
  <a class="social-link" aria-label="My Kits" target="_blank" rel="noreferrer"
    href="https://kit.co/{{site.kitco_username}}">
    <div class="social">
      <svg class="social-svg" viewBox="0 0 48 48">
        <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" xlink:href="{{ "/assets/img/solid.svg#box-open" | prepend: site.baseurl }}"></use>
      </svg>
    </div>
  </a>
  {% endif %}

  {% if site.shutterstock_username != null %}
  <a class="social-link shutterstock" aria-label="My Shutterstock Profile" target="_blank" rel="noreferrer"
    href="https://shutterstock.com/g/{{site.shutterstock_username}}">
    <div class="social">
      <svg class="social-svg" viewBox="0 0 48 48">
        <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" xlink:href="{{ "/assets/img/solid.svg#camera" | prepend: site.baseurl }}"></use>
      </svg>
    </div>
  </a>
  {% endif %}

  {% if site.vesselfinder_username != null %}
  <a class="social-link vesselfinder" aria-label="My Vesselfinder Account" target="_blank" rel="noreferrer"
    href="https://vesselfinder.com/g/{{site.vesselfinder_username}}">
    <div class="social">
      <svg class="social-svg" viewBox="0 0 48 48">
        <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" xlink:href="{{ "/assets/img/solid.svg#anchor" | prepend: site.baseurl }}"></use>
      </svg>
    </div>
  </a>
  {% endif %}

  {% if site.marinetraffic_username != null %}
  <a class="social-link marinetraffic" aria-label="My Marinetraffic Account" target="_blank" rel="noreferrer"
    href="https://marinetraffic.com/{{site.marinetraffic_username}}">
    <div class="social">
      <svg class="social-svg" viewBox="0 0 48 48">
        <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" xlink:href="{{ "/assets/img/solid.svg#ship" | prepend: site.baseurl }}"></use>
      </svg>
    </div>
  </a>
  {% endif %}

  {% if site.dev_username != null %}
  <a class="social-link black" aria-label="My DEV" target="_blank" rel="noreferrer"
    href="https://dev.to/{{site.dev_username}}">
    <div class="social">
      <svg class="social-svg" viewBox="0 0 48 48">
        <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" xlink:href="{{ "/assets/img/brands.svg#dev" | prepend: site.baseurl }}"></use>
      </svg>
    </div>
  </a>
  {% endif %}
                                                                                                                                                 
  {% if site.twitter_username != null %}
  <a class="social-link twitter" aria-label="My Twitter" target="_blank" rel="noreferrer"
    href="https://twitter.com/{{site.twitter_username}}">
    <div class="social">
      <svg class="social-svg" viewBox="0 0 48 48">
        <use x="12" y="12" width="24" height="24" viewBox="0 0 48 48" xlink:href="{{ "/assets/img/brands.svg#twitter" | prepend: site.baseurl }}"></use>
      </svg>
    </div>
  </a>
  {% endif %}  
 
</div>
